{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-assign",
    "syntax-object-rest-spread",
    "transform-object-rest-spread"
  ]
}